<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-card class="webpage">
<mat-card class="cont">
  <h1>C</h1>
  <h2>Credipay</h2>  
  <h3>About</h3>
  <h4>Solution</h4>
  <button >Register</button>
</mat-card>
<div class="img1">
<img src="../../assets/Images/Group_2_1-removebg-preview.png">
</div>
<div class="ellipse">
<img src="../../assets/Images/Ellipse 2.jpg">
</div>
<mat-card class="score">
  <p>Your credit scoring<span style="margin-left: 36px;color: #01C087;font-weight: bold;">792</span><span style="margin-left: 70px; font-weight: bolder;">Good</span></p>
</mat-card>
<div class="section1">
  <h1>Your credit <br> your identity</h1>
  <p>Find out your credit rating and get personal or business <br> recommendations for it.</p>
  <button>Read More</button>
</div>
<div class="img2">
<img src="../../assets/Images/Group_2_2-removebg-preview.png">
</div>

<div class="container2">
  <h2>What is Credipay</h2>
  <h3 style="margin-bottom: -22px;">Problem</h3><span>  <mat-icon style="color:#308fff ;" > chat_bubble</mat-icon>
  </span>
  <p>About 7.3 millions Ghanains remain unbanked making it <br> difficult to access credit</p>
  <img src="../../assets/Images/unsplash_0cgpyigyIkM.jpg">

<div class="img3">
  <img src="../../assets/Images/unsplash_N9fGkZBXNvY.jpg">

  <h3 style="margin-bottom: -22px;margin-left: 1000px;">Solution</h3><span>  <mat-icon style="color:#308fff ;"> track_changes</mat-icon></span>

  <p>Credible is a secured platform that allows Ghanains to <br> access credit facility easily by building a trusted credit <br> score rating from all payment sources</p>
</div>
<div class="container3">
  <h2>Why use Credipay</h2>
  <mat-card class="uses">
    <mat-icon style="color:#308fff ; margin-top: 25px;"> description</mat-icon>
    <span><h4>Understand your credit</h4></span>
    <p>Credit can be complicated. But it doesn't have to be. Learning <br> responsible credit behavior can set you up to reach your goals. Find out <br> what's in your Equifax credit report, how your credit scores are <br>calculated, and how to get on track in your credit journey.</p>

  </mat-card>

  <mat-card class="financial">
    <mat-icon style="color:#308fff ; margin-top: 25px;"> track_changes</mat-icon>
    <span><h4>Reach your financial goals</h4></span>
    <p>Life is a series of milestones, and when it comes to finances, knowledge <br> is your most valuable asset. If you're planning to buy a home, purchase a <br> car, or take out a loan, find out what potential lenders are looking for.</p>

  </mat-card>

  
  <mat-card class="personal">
    <mat-icon style="color:#308fff ; margin-top: 25px;"> person</mat-icon>
    <span><h4>Personal credit</h4></span>
    <p>Personal credit scoring is the application of financial risk forecasting. It <br>becomes an even important task as financial institutions have been <br>experiencing serious competition and challenges.
    </p>

  </mat-card>

  <mat-card class="business">
    <mat-icon style="color:#308fff ; margin-top: 25px;"> business</mat-icon>
    <span><h4>Business Credit</h4></span>
    <p>Every business is singular, and every customer interaction is a highly <br> personalized 1:1 proposition. But in each instance, our goal is simple: To <br>work with our customers to create data-driven solutions that are as personal as <br> they are profitable at every point along their customer’s journey.
    </p>

  </mat-card>


</div>
</div>

<div class="footer">
  <h2>Are you ready to take the <br> next step?</h2>
  <p>Life is a series of milestones, and when it <br> comes to finances, information is your <br>greatest and most valuable asset.</p>
</div>
<div class="line">
<hr>
<p>About</p>
<h3>Solution</h3>
<h1>C</h1>
<h2>Credipay</h2>  
</div>
</mat-card>
